#aa{
    color:red;
    font-family:castellar;
    font-size:100%
   }
#bb{
    color:Purple;
    font-family:chiller;
    font-size:90%;
   }
#cc{
    color:hotpink;
    font-family:Bell MT;
    font-size:80%;
   }
#dd{
    color:green;
    font-family:Gigi;
    font-size:70%;
   }