body{
     background-image:url("cdj college.jpg");
     background-repeat:no-repeat;
     background-size:100% 100%;
    }
h1{
    font-family=Bell MT;
    background-color:cyan;
  }
#aa{
    color:hotpink;
    font-family:Gigi;
   }
#bb{
    color:cyan;
    font-family:Bell MT;
   }
#cc{
    color:blue;
    font-family:Arial;
   }
 